@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* about */
.about-div{
  display: flex;
  flex-direction: column;
  flex:1;
  margin-top: -15vh;
  height: 100vh;
  background-color: #151418;
}

.about-content{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 12%;
  z-index: 10;
}

.about-wave{
  display: flex;
  justify-content: flex-end;
}

.svg {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
}

.diamond1 {
  position: absolute;
  top: -170px;
  left: -670px;
  width: 150vh;
  height: 1000px;
  transition: transform 0.25s ease 0s;
}

@media screen and (max-width: 400px) {
  .diamond1{
    position: absolute;
    top: -170px;
    left: -670px;
    width: 125vh;
    height: 1000px;
    transition: transform 0.25s ease 0s;
  }
}

.diamond2 {
  position: absolute;
  top: 20px;
  right: 10%;
  width: 120px;
  height: 120px;
  transition: transform 0.25s ease 0s;
}

.diamond3 {
  position: absolute;
  top: 40%;
  right: 5%;
  width: 200px;
  height: 200px;
  transition: transform 0.25s ease 0s;
}

.diamond4 {
  position: absolute;
  top: 10%;
  right: 65%;
  width: 80px;
  height: 80px;
  transition: transform 0.25s ease 0s;
}

.diamond6 {
  position: absolute;
  top: 67%;
  right: 48%;
  width: 140px;
  height: 140px;
  transition: transform 0.25s ease 0s;
}

.about-para{
  flex: 0.5;
  display: block;
  padding-left: 10%;
}

.about-pic{
  flex: 0.5;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.about-para h1 {
  font-family: 'Poppins', sans-serif;
  color: #fbfbff;
  line-height: 0.9rem;
}

.about-para h2{
  font-family: 'Poppins', sans-serif;
  color: rgb(119, 119, 121);
  margin-bottom: 1.4em;
}

.about-para h3{
  font-family: 'Poppins', sans-serif;
  color: #fbfbff;
  line-height: 0.8rem;
}

/* about end */
/* projects */

.projects-div{
  display: flex;
  flex:1;
  flex-direction: column;
  height: 100vh;
  background-color: #fbfbff;
}

.projects-content{
  flex: 1;
}

.projects-wave{
  display: flex;
  justify-content: flex-end;
}

/* projects end */
/* nav */

.nav{
  display: flex;
  flex-direction: row;
  background-color: #151418;
  margin:0;
  padding: 5%;
}

.nav-title{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: #fbfbff;
  font-size: 18px;
  margin: 0;
  z-index: 10;
}

.diamond5 {
  position: absolute;
  top: 7%;
  left: 13%;
  width: 200px;
  height: 200px;
  z-index: -10;
  transition: transform 0.25s ease 0s;
}

.nav-links {
  display: flex;
  flex: 1.5;
  align-items: center;
  justify-content: space-evenly;
}

.nav-empty{
  display: flex;
  flex: 1;
}

.nav-link {
  background-color: #151418;
  color: #fbfbff;
  font-size: 18px;
  text-decoration: none;
}

@media screen and (max-width: 400px) {
  .nav-title{
    flex:0.5;
    font-size: 12px;
  }
  .nav-links{
    flex:1;
    justify-content: space-around;
  }
  .nav-link{
    font-size: 12px;
  }
  .nav-empty{
    flex:0.5;
  }
}